
  <style>
  body { 
    width:700px;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    }
    h1 { 
    font: italic 30px Georgia;
    color: gold;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 200%;
    }
    h2 { 
    font: italic 20px Georgia;
    color: navy;
    text-decoration: underline;
    text-transform: uppercase;
    }
  
  i { 
  color: blue; 
  font: italic 20px Verdana;
  
  
}

  #čert {
    color: red;
    }
  .zanr,.autor,.zdroj {
    text-align: center;
    font-size: smaller;

    }
  h1,h2 {
    text-align: center;

    }

  footer {
    text-align: center;
    font-size: 450%;

 }

 #zaver {
    text-align: center;
  }
  </style>
